@use 'src/styles/_mixins.scss';

.addBoard {
  display: flex;
  align-items: center;
  gap: 10px;

  height: 35px;

  margin-bottom: 50px;

  @include mixins.mediaMobile {
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 80px;
  }

  &__input {
    width: 300px;
  }

  &__button {
    @include mixins.mediaMobile {
      min-height: 35px;
    }
  }
}
