.addCardForm {
  position: relative;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.field {
  p {
    font-size: 14px;
    margin-bottom: 5px;
  }

  &__input {
    width: 100%;
  }

  textarea {
    resize: none;

    width: 100%;
    height: 50px;
  }
}

.submitBtn {
  cursor: pointer;
}

.closeBtn {
  position: absolute;
  right: -10px;
  top: -10px;

  width: 20px;
  height: 20px;

  overflow: hidden;

  &__cross {
    font-size: 25px;

    transform: rotate(45deg);
    transition:
      color 0.3s ease,
      transform 0.3s ease;

    &:hover {
      color: blue;
      transform: rotate(225deg);
    }
  }
}
