@use 'src/styles/_variables.scss' as vars;
@use 'src/styles/_mixins.scss';

.addCard {
  @include mixins.card();

  transition: box-shadow .2s linear;

  &:hover {
    -webkit-box-shadow: inset 0px 0px 5px 5px rgb(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 0px 5px 5px rgb(0, 0, 0, 0.4);
    box-shadow: inset 0px 0px 5px 5px rgb(0, 0, 0, 0.4);
  }

  &_onAdd {
    &:hover {
      @include mixins.card();
    }
  }

  &__form {
    position: relative;
  
    &__form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

.closeBtn {
  position: absolute;
  right: -10px;
  top: -10px;

  width: 20px;
  height: 20px;

  overflow: hidden;

  &__cross {
    font-size: 25px;

    transform: rotate(45deg);
    transition:
      color 0.3s ease,
      transform 0.3s ease;

    &:hover {
      color: blue;
      transform: rotate(225deg);
    }
  }
}
