@use 'src/styles/_variables.scss' as vars;
@use 'src/styles/_mixins.scss';

.boardColumn {
  flex: 1;

  &__title {
    margin-bottom: 20px;

    text-align: center;
    text-transform: capitalize;
  }

  &__cardsList {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    max-width: vars.$card-max-width;
    min-width: vars.$card-min-width;
    width: 100%;
    min-height: 240px;

    background-color: vars.$color-board-background;
    border-radius: vars.$border-radius;

    @include mixins.mediaTablet {
      margin: 0 auto;
      max-width: vars.$card-max-width-mobile;
    }

    &_noCards {
      gap: 0;
    }

    &_droppable {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}