@use 'src/styles/_variables.scss' as vars;
@use 'src/styles/_mixins.scss';

.selection {
  height: 34px;
  width: 300px;

  padding: 5px 10px;
  margin-top: 10px;

  border-radius: vars.$border-radius;
  border: 1px solid #dbd9d9;

  &:focus {
    outline: none;
  }

  @include mixins.mediaTablet {
    flex-direction: column;
    align-items: flex-start;

    width: 100%;

    min-width: 200px;
  }
}