@use 'src/styles/_variables.scss' as vars;

.input {
  width: 100%;
  height: 35px;

  padding: 5px 10px;

  border-radius: vars.$border-radius;
  border: 1px solid #dbd9d9;

  transition: border-color .3s ease;

  &:hover {
    border-color: vars.$color-board-background;
  }

  &:focus {
    border-color: #202020;
    outline: none;
  }
}