@use 'src/styles/_variables.scss' as vars;

.button {
  display: flex;
  align-items: center;

  height: 100%;

  padding: 5px 20px;

  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;

  border-radius: vars.$border-radius;

  background-color: vars.$color-button_back;

  transition: background-color 0.3s ease;

  svg {
    path {
      fill: #fff;
    }
  }

  &:hover, &_active {
    background-color: vars.$color-button-hover-active;
  }

  &_withIcon {
    padding: 20px;
  }

  &_smallIcon {
    padding: 5px 8px;
  }

  &_closeBtn {
    position: absolute;
    right: -10px;
    top: -7px;
  
    width: 20px;
    height: 20px;

    background-color: transparent;

    font-weight: 400;
    color: #000;
  
    overflow: hidden;

    &:hover {
      background-color: transparent;
    }

    &__cross {
      font-size: 25px;
  
      transform: rotate(45deg);
      transition:
        color 0.3s ease,
        transform 0.3s ease;
  
      &:hover {
        color: blue;
        transform: rotate(225deg);
      }
    }
  }
}
