@use 'src/styles/_variables.scss' as vars;

.button {
  padding: 5px 20px;

  font-weight: 600;
  font-size: 16px;
  text-align: center;

  border-radius: 10px;

  background-color: #dbd9d9;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: vars.$color-board-background;
  }

  &_withIcon {
    padding: 20px;
  }

  &_smallIcon {
    padding: 5px 8px;
  }
}
